*{
    
    padding: 0;
    margin: 0;
}
body{
    background-image: url(time3.jpg);
    color: black;
}
.hed{
    display: center;
    transform: uppercase;
    text-decoration: double;
    left: 10px;

}

nav{
    text-align: center;
}
.info{
    text-align: center;
    position: relative;
    display: inline-flex;
    margin-top: 25%;
    left: 25rem;
    
}
.most{
    display: inline-flex;
    padding-top: 30px;

}